# Database
AURORA_DATABASE_HOST=localhost
AURORA_DATABASE_PORT=5432
AURORA_DATABASE_USER=aurora
AURORA_DATABASE_PASSWORD=change-me
AURORA_DATABASE_DBNAME=aurora

# Redis
AURORA_REDIS_HOST=localhost
AURORA_REDIS_PORT=6379
AURORA_REDIS_PASSWORD=

# JWT
AURORA_JWT_ACCESSSECRET=change-me-access-secret
AURORA_JWT_REFRESHSECRET=change-me-refresh-secret

# Docker
DB_PASSWORD=change-me
